In [ ]:
#1
name = ''' Hi How are you? Starterd learning python.It's really interesting.'''
name[:]

'teres'

In [ ]:
name[3:12]

' How are '

In [ ]:
name[12:3]

''

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

" iHwaeyu tredlann yhnI' elyitrsig"

In [ ]:
name[::-2]

'.nteen larst.otpgire rtaS?o r o H'

In [ ]:
#2
l2 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'Major']

In [ ]:
l2[::3]

['a', 30, 300, 'Major']

In [ ]:
l2[::-2]

['Major', 400, 100, 30, 'b']

In [ ]:
#d. How to extract value “Happy” based on index and negative index
l2.index('Happy')

8

In [ ]:
#e. How to check type of data in list at 4th position
type(l2[3])

int

In [ ]:
#f. Extract values for 100, 300, 400
[l2[5],l2[6],l2[7]]

[100, 300, 400]

In [ ]:
#3
l3 =[1,2,3,5,['a', 'b', 'hard work'],100 , 200, 'success']

In [ ]:
l3[4]

['a', 'b', 'hard work']

In [ ]:
l3[1:5]

[2, 3, 5, ['a', 'b', 'hard work']]

In [ ]:
l3[7]

'success'

In [ ]:
l3[7][2]

'c'

In [ ]:
l3[7][2:]

'ccess'

In [ ]:
l3[ : 3]

[1, 2, 3]

In [ ]:
l3[3:]

[5, ['a', 'b', 'hard work'], 100, 200, 'success']

In [ ]:
#4. From the above l2 value ‘b’ must be changed to ‘BEE’.
l3[4][1] = 'BEE'
print(l3)

[1, 2, 3, 5, ['a', 'BEE', 'hard work'], 100, 200, 'success']

In [ ]:
#5. From l2 “BEE” has to discard.
l3[4].remove('BEE')
print(l3)

[1, 2, 3, 5, ['a', 'hard work'], 100, 200, 'success']

In [ ]:
#6. In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l3.append({'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']})
print(l3)

[1, 2, 3, 5, ['a', 'hard work'], 100, 200, 'success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#7. From l2 extract insect information.
l3[-1]['insect']

['bee', 'moth']

In [ ]:
#8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1 = {'a': 10, 'b': 20, 'c': 30}
l3.insert(1, d1)
print(l3)

[1, {'a': 10, 'b': 20, 'c': 30}, 2, 3, 5, ['a', 'hard work'], 100, 200, 'success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#9. Based on new l2 created here extract the value 10 from l2 dictionary.
l3[1]['a']

10

In [ ]:
#10
l4=[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'hard work'],100 , 200, 'success', (200,300, 'hundreds')]

In [ ]:
#l4[4][2]

#l4[5][:]

#l4[2] [:]

#l4[1:5]

#l4[5]

#l4[5][3:-1]

#l4[-1]


#l4[-4, -3]

#l4[-4: -10]

#l4[7][2]

#l4[-7][2:]

#l4[ :- 3]

#l4[-3:]

50

In [ ]:
#11
marks = int(input("Enter your marks: "))

if marks > 80:
    print("You got distinction")
elif marks > 60:
    print("You got First class")
elif marks > 40:
    print("You got second class")
elif marks >= 35:
    print("PASS")
else:
    print("Fail")

You got First class

In [5]:
#converting upper logic to function
marks = int(input("Enter your marks: "))
def result(marks):
    if marks > 80:
        return print("You got distinction")
    elif marks > 60:
        return print("You got First class")
    elif marks > 40:
        return print("You got second class")
    elif marks >= 35:
        return print("PASS")
    else:
        return print("Fail")
result(marks)

You got distinction

In [ ]:
# 12.

salary = float(input("Enter your yearly salary in LPA: "))
rating = input("Enter your rating (A, B, C, D): ").upper()

increment_percent = 0


if salary <= 5:
    if rating == 'A':
        increment_percent = 16
    elif rating == 'B':
        increment_percent = 12
    elif rating == 'C':
        increment_percent = 10
    elif rating == 'D':
        increment_percent = 6


elif salary <= 10:
    if rating == 'A':
        increment_percent = 14
    elif rating == 'B':
        increment_percent = 10
    elif rating == 'C':
        increment_percent = 8
    elif rating == 'D':
        increment_percent = 6


elif salary <= 15:
    if rating == 'A':
        increment_percent = 8
    elif rating == 'B':
        increment_percent = 6
    elif rating == 'C':
        increment_percent = 4
    elif rating == 'D':
        increment_percent = 0


elif salary <= 23:
    if rating == 'A':
        increment_percent = 7
    elif rating == 'B':
        increment_percent = 5
    elif rating == 'C':
        increment_percent = 4
    elif rating == 'D':
        increment_percent = 0

else:
    print("Salary range not supported")
    exit()


increment_amount = (salary * increment_percent) / 100
new_salary = salary + increment_amount


print("Increment Percentage:", increment_percent, "%")
print("Increment Amount:", increment_amount, "LPA")
print("New Salary:", new_salary, "LPA")

Increment Percentage: 10 %
Increment Amount: 0.6 LPA
New Salary: 6.6 LPA

In [3]:
#13.
L1 = ["HR", "Finance", "Marketing", "DS"]

print("Available Courses:", L1)

subject = input("Enter subject from above list: ")

if subject in L1:

    base_fee = 200000 

    analytics = input("Do you want Analytics? (Y/N): ")

    if analytics == "Y":
        if subject == "DS":
            print("DS does not have Analytics option.")
            course_fee = base_fee
        else:
            course_fee = base_fee + (base_fee * 0.10)
    else:
        course_fee = base_fee

    hostel = input("Do you want Hostel? (Y/N): ")
    if hostel == "Y":
        hostel_fee = 200000
    else:
        hostel_fee = 0

    months = int(input("Enter number of months for food: "))
    food_fee = months * 2000

    transport = input("Transportation (semester/annual): ")

    if transport == "semester":
        transport_fee = 13000 * 2
    else:
        transport_fee = 13000 * 2 

    total = course_fee + hostel_fee + food_fee + transport_fee

    print("\n----- FEE DETAILS -----")
    print("Course Fee:", course_fee)
    print("Hostel Fee:", hostel_fee)
    print("Food Fee:", food_fee)
    print("Transportation Fee:", transport_fee)
    print("-----------------------")
    print("Total Annual Cost:", total)

else:
    print("Invalid Subject Selected")

Available Courses: ['HR', 'Finance', 'Marketing', 'DS']

----- FEE DETAILS -----
Course Fee: 200000
Hostel Fee: 0
Food Fee: 12000
Transportation Fee: 26000
-----------------------
Total Annual Cost: 238000

In [ ]:
#14
books = {
    "1st-4th": {"Hindi": 60, "Marathi": 60, "English": 80, "Science": 90, "Maths": 100},
    "5th-8th": {"Hindi": 100, "Marathi": 100, "English": 100, "Science": 120, "Maths": 140},
    "9th-10th": {"Hindi": 150, "Marathi": 150, "English": 150, "Science": 200, "Maths": 250}
}

notebooks = {
    "square": {100: 40, 200: 70},
    "4_lines": {100: 30, 200: 50},
    "2_lines": {100: 30, 200: 50},
    "single_lines": {100: 60, 200: 100},
    "A4": {100: 100, 200: 180}
}

total = 0
bill = []

while True:
    std = int(input("\nEnter class (1–10): "))

    if 1 <= std <= 4:
        standard = "1st-4th"
    elif 5 <= std <= 8:
        standard = "5th-8th"
    elif 9 <= std <= 10:
        standard = "9th-10th"
    else:
        print("Invalid class")
        continue

    subject = input("Enter subject: ")
    if subject not in books[standard]:
        print("Invalid subject")
        continue

    notebook_type = input("Enter notebook type: ")
    if notebook_type not in notebooks:
        print("Invalid notebook type")
        continue

    pages = int(input("Enter pages (100 or 200): "))
    if pages not in notebooks[notebook_type]:
        print("Invalid page count")
        continue

    book_price = books[standard][subject]
    notebook_price = notebooks[notebook_type][pages]
    amount = book_price + notebook_price

    total += amount
    bill.append((standard, subject, notebook_type, pages, amount))

    choice = input("Do you want to add more items? (yes/no): ")
    if choice.lower() != 'y':
        break

# ---------- FINAL BILL ----------
print("\n=========== FINAL BILL ===========")
for item in bill:
    print(f"Standard: {item[0]}, Subject: {item[1]}, "
          f"Notebook: {item[2]} ({item[3]} pages) → {item[4]}")

print("---------------------------------")
print("TOTAL AMOUNT =", total)

In [ ]:
#15

In [ ]:
#16

In [ ]:
#TYPE CASTING
#17. Create a=100, Convert a to string, Convert a to list,Convert a to tuple,dict, set,float.Observe the errors and note it down for all conversions.
a=100

In [ ]:

s = str(a)
print(s)
print(type(s))

100
<class 'str'>

In [ ]:
l = list(a)

TypeError: 'int' object is not iterable

In [ ]:
t=tuple(a)

TypeError: 'int' object is not iterable

In [ ]:
d=dict(a)

TypeError: 'int' object is not iterable

In [ ]:
s1=set(a)

TypeError: 'int' object is not iterable

In [ ]:
f = float(a)
print(f)
print(type(f))

100.0
<class 'float'>

In [ ]:
#8.Create city = “Pune” Convert to int,Convert float,Convert list,Convert tuple,Convert dict,Convert set,Obsert errors and note it down for all conversions
city='pune'

In [ ]:
s = str(city)
print(s)
print(type(s))

pune
<class 'str'>

In [ ]:
int(city)

ValueError: invalid literal for int() with base 10: 'pune'

In [ ]:
float(city)

ValueError: could not convert string to float: 'pune'

In [ ]:
list(city)

['p', 'u', 'n', 'e']

In [ ]:
tuple(city)

('p', 'u', 'n', 'e')

In [ ]:
dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
set(city)

{'e', 'n', 'p', 'u'}

In [ ]:
#9. Create a list as marks = [20,18,15,17,18],Convert to int,float,list,tuple,dict,set, observe : errors and note it down for all conversions
marks = [20,18,15,17,18]

In [ ]:
int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
list(marks)

[20, 18, 15, 17, 18]

In [ ]:
tuple(marks)

(20, 18, 15, 17, 18)

In [ ]:
dict(marks)

TypeError: object is not iterable

In [ ]:
set(marks)

{15, 17, 18, 20}

In [ ]:
#10. Create the empty list snames. Add value 20 in the list using append
snames=[]
print(snames)

[]

In [ ]:
#Add value 20 in the list using append
snames.append(20)
print(snames)

[20]

In [ ]:
# Add value 30 in the list using extend
snames.extend([30])
print(snames)

[20, 30]

In [ ]:
# Add values in the list using append
snames.append(40)
snames.append(50)
print(snames)

[20, 30, 40, 50]

In [ ]:
# Add value “WORK" in the list using extend
snames.extend("WORK")
print(snames)

[20, 30, 40, 50, 'W', 'O', 'R', 'K']

In [ ]:
# Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]
combo = [1, 'a', 'b', 2, 3]
print(combo)

[1, 'a', 'b', 2, 3]

In [ ]:
#Add sname to combo using addition operator

new_combo = combo + snames
print(new_combo)

[1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K']

In [ ]:
# Add combo to snames using append
snames.append(combo)
print(snames)

[20, 30, 40, 50, 'W', 'O', 'R', 'K', 1, 'a', 'b', 2, 3, [1, 'a', 'b', 2, 3]]

In [ ]:
# Add combo to snames using extend.
snames.extend(combo)
print(snames)

[20, 30, 40, 50, 'W', 'O', 'R', 'K', 1, 'a', 'b', 2, 3]

In [ ]:
#11.Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1
l1 = [10, 20]
l3 = [1, 2, 3, 4, 5, 6, 7]
l3.insert(3, l1)
print(l3)

[1, 2, 3, [10, 20], 4, 5, 6, 7]

In [ ]:
#12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.
#· From the collection delete the record for “Nisha”
#· Find the location of 20.50
collec = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]


pro_col = []
for item in collec:
    if isinstance(item, (int, float)):
        pro_col.append(item * 5)
    else:
        pro_col.append(item)

print(f"Collection after multiplying integers by 5: {pro_col}")

if 'Nisha' in pro_col:
    pro_col.remove('Nisha')
print(f"Collection after deleting 'Nisha': {pro_col}")

multiplied = pro_col.index(20.50 * 5)
print(f"Location of 20.50: {multiplied}")

Collection after multiplying integers by 5: [5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]
Collection after deleting 'Nisha': [5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]
Location of 20.50: 5

In [5]:
#13.Create a comprehensive list for square upto 10
squares = []
for i in range(1, 11):
    squares.append(i*i)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#14.Create the comprehensive list to find number divisible by 13 till 200
div3 = [i for i in range(1, 201) if i % 13 == 0]

print("Numbers divisible by 13 till 200:")
print(div3)

Numbers divisible by 13 till 200:
[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#15. Create the list which is divisible by 4 from 300 to 400
div4 = []

for i in range(300, 401):
    if i % 4 == 0:
        div4.append(i)

print(div4)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [8]:
#16. Create a comprehensive list to generate list up to x, y as a number. 
x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))

x_list = [i for i in range(x)]
y_list = [j for j in range(y)]

result = [[i, j] for i in x_list for j in y_list]

print("x_list =", x_list)
print("y_list =", y_list)
print("Combinations =", result)

x_list = [0, 1, 2, 3, 4, 5, 6]
y_list = [0, 1]
Combinations = [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1], [4, 0], [4, 1], [5, 0], [5, 1], [6, 0], [6, 1]]

In [9]:
#22. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
# Create two sets
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

print("Set s1:", s1)
print("Set s2:", s2)

print("\nUnion:", s1.union(s2))

print("Intersection:", s1.intersection(s2))

print("Difference (s1 - s2):", s1.difference(s2))

print("Difference (s2 - s1):", s2.difference(s1))

print("Symmetric Difference:", s1.symmetric_difference(s2))

Set s1: {50, 20, 40, 10, 30}
Set s2: {50, 70, 40, 60, 30}

Union: {70, 40, 10, 50, 20, 60, 30}
Intersection: {40, 50, 30}
Difference (s1 - s2): {10, 20}
Difference (s2 - s1): {60, 70}
Symmetric Difference: {20, 70, 10, 60}

In [1]:
#23.Create l2 as a list and perform set operation on s1 with l1}
l1 = [10, 20, 30, 40, 50]
l2 = [30, 40, 60, 70]

s1 = set(l1)
s2 = set(l2)

print("s1:", s1)
print("l2 as set:", s2)

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)
print("Difference (s1 - l2):", s1 - s2)
print("Difference (l2 - s1):", s2 - s1)
print("Symmetric Difference:", s1 ^ s2)

s1: {40, 10, 50, 20, 30}
l2 as set: {40, 70, 60, 30}
Union: {70, 40, 10, 50, 20, 60, 30}
Intersection: {40, 30}
Difference (s1 - l2): {10, 50, 20}
Difference (l2 - s1): {60, 70}
Symmetric Difference: {70, 10, 50, 20, 60}

In [ ]:
#24
name = input("Enter your name: ")
dob = input("Enter your DOB (DD-MM-YYYY): ")

name_part = name[:4].upper()

day = dob[0:2]
month = dob[3:5]

password = f"{name_part}@{day}{month}"

print("Generated Password:", password)

Generated Password: DIKS@1209

In [ ]:
#25
name = input("Enter your name: ")
dob = input("Enter your DOB (DD-MM-YYYY): ")

name_part = name[:4].upper()

year = dob[-4:]

password = name_part + "@" + year

print("Generated Password:", password)

In [1]:
#26
for i in range(5):
    print('*'*i)

*
**
***
****

In [2]:
#27
for i in range(4, 0,-1):
    print("*" * i)

****
***
**
*

In [3]:
#28. Str_val = “ABCD” then create the format as mentioned below
Str_val = "ABCD"

for i in range(1, len(Str_val) + 1):
    print(" ".join(Str_val[:i]))

A
A B
A B C
A B C D

In [5]:
#29. Create the format mentioned below:
letters = "ABCD"

for i in range(len(letters)):
    print(letters[i] * (i + 1))

A
BB
CCC
DDDD

In [6]:
#30. Create the format mentioned below:
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [7]:
#31. Val = “ABCD” based on the Val, create the format mentioned below
Val = "ABCD"

rev = Val[::-1]  

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

In [8]:
#32. Ask user to enter the string. If string is UPGRAD then output must be
text = input("Enter a string: ")

rev = text[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

 a
 ah
 ahs
 ahsk
 ahski
 ahskid

In [9]:
#33. Create a list of odd numbers from 1 to 10
odd = [i for i in range(1, 11) if i % 2 != 0]

print("Odd Numbers:", odd)

Odd Numbers: [1, 3, 5, 7, 9]

In [10]:
#34. Create even number list using for loop from 200 to 250
even= []

for i in range(200, 251, 2):
    even.append(i)

print("Even Numbers:", even)

Even Numbers: [200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [12]:
#35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
def multiply_by_two(item):

    if isinstance(item, (int, float)):
        return item * 2

    elif isinstance(item, str):
        return item * 2

    elif isinstance(item, list):
        return [i * 2 for i in item]

    elif isinstance(item, tuple):
        return tuple(i * 2 for i in item)

    elif isinstance(item, set):
        return {i * 2 for i in item}

    elif isinstance(item, dict):
        return {k: v * 2 for k, v in item.items()}

    else:
        return item


List2 = [21, 701, 'diksha', 'anuj', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'},302.5]

result = [multiply_by_two(x) for x in List2]

print("After Multiplying by 2:", result)

After Multiplying by 2: [42, 1402, 'dikshadiksha', 'anujanuj', 5.0, [2, 4, 6], (2, 4), {2, 4}, {1: 'aa', 2: 'bb'}, 605.0]

In [13]:
#36. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element from list2 by 2 and store the answer in list3
list2 = [21, 701, 'diksha', 'anuj', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 302.5]

list3 = []

for item in list2:

    # Numbers
    if isinstance(item, (int, float)):
        list3.append(item * 2)

    # Strings
    elif isinstance(item, str):
        list3.append(item * 2)

    # List
    elif isinstance(item, list):
        list3.append([i * 2 for i in item])

    # Tuple
    elif isinstance(item, tuple):
        list3.append(tuple(i * 2 for i in item))

    # Set
    elif isinstance(item, set):
        list3.append({i * 2 for i in item})

    # Dictionary
    elif isinstance(item, dict):
        new_dict = {}
        for k, v in item.items():
            new_dict[k] = v * 2
        list3.append(new_dict)

print("List2:", list2)
print("List3:", list3)

List2: [21, 701, 'diksha', 'anuj', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 302.5]
List3: [42, 1402, 'dikshadiksha', 'anujanuj', 5.0, [2, 4, 6], (2, 4), {2, 4}, {1: 'aa', 2: 'bb'}, 605.0]

In [8]:
#37. Create a function to accept marks from user utilize exception concept to validate proper marks.
def get_marks():
    try:
        marks = int(input("Enter your marks (0-100): "))

        if marks < 0 or marks > 100:
            raise ValueError("Marks must be between 0 and 100")

        return marks

    except ValueError as e:
        print("Invalid input:", e)
        return None


def check_result(marks):
    if marks > 80:
        print("You got Distinction")
    elif marks > 60:
        print("You got First Class")
    elif marks > 40:
        print("You got Second Class")
    elif marks >= 35:
        print("PASS")
    else:
        print("Fail")

marks = get_marks()

if marks is not None:
    check_result=(marks)

In [10]:
#38. Create a function to validate user first name/last name. User first name/last name should contain only characters. 
#No special characters, numbers, space in name
def validate_name(name):
    if name.isalpha():
        return True
    else:
        return False

first_name = input("Enter first name: ")
last_name = input("Enter last name: ")
if validate_name(first_name) and validate_name(last_name):
    print("Valid First Name and Last Name")
else:
    print("Invalid Name! Only alphabets are allowed.")

Valid First Name and Last Name

In [12]:
#39. Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.
def validate_mobile(mobile):
    if mobile.isdigit() and len(mobile) == 10:
        return True
    else:
        return False

mobile = input("Enter mobile number: ")

if validate_mobile(mobile):
    print("Valid Mobile Number")
else:
    print("Invalid Mobile Number! Mobile number must contain exactly 10 digits.")

Valid Mobile Number

In [13]:
#40. Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB.
#And password must be First name 4 characters and year of birth.
def generate_password(name, dob):
    first_part = name[:4]

    year = dob[-4:]

    password = first_part + year
    return password

name = input("Enter your first name: ")
dob = input("Enter your DOB (DD-MM-YYYY): ")

password = generate_password(name, dob)
print("Generated Password:", password)

Generated Password: diks2003

In [ ]:


    customers[cust_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    cust_no += 1

    choice = input("Do you want to add another customer? (yes/no): ")
    if choice.lower() != "yes":
        break

print("\nFinal Customer Dictionary:")
print(customers)

In [ ]:
#41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another valuec.
customers = {}
cust_no = 1

while True:
    name = input("Enter name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")
    mobile = input("Enter mobile number: ")

    customers[cust_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    cust_no += 1

    choice = input("Do you want to add another customer? (yes/no): ")
    if choice.lower() != "yes":
        break

print("Final Customer Dictionary:")
print(customers)

Final Customer Dictionary:
{1: {'name': 'diksha ', 'DOB': '12-09-2003', 'mobile': '8600664605'}, 2: {'name': 'anuj', 'DOB': '07-05-2003', 'mobile': '1234567899'}}

In [17]:
#42.Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log
file = open("cust_info.txt", "w") 
file.write(str(customers))
file.close()

print("\nCustomer data saved successfully in cust_info.txt")
print("Final Customer Dictionary:")
print(customers)

Customer data saved successfully in cust_info.txt
Final Customer Dictionary:
{1: {'name': 'diksha ', 'DOB': '12-09-2003', 'mobile': '8600664605'}, 2: {'name': 'anuj', 'DOB': '07-05-2003', 'mobile': '1234567899'}}

In [ ]:
#43. Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. 
# If there is information then read the dictionary store into one variable and then append new information of customer if added.